---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=<Youtube_channel_id>&key=<Youtube_api>&part=snippet&q=laos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 403,
            "message": "The request cannot be completed because you have exceeded your \u003ca href=\"/youtube/v3/getting-started#quota\"\u003equota\u003c/a\u003e.",
            "errors": [
              {
                "message": "The request cannot be completed because you have exceeded your \u003ca href=\"/youtube/v3/getting-started#quota\"\u003equota\u003c/a\u003e.",
                "domain": "youtube.quota",
                "reason": "quotaExceeded"
              }
            ]
          }
        }
  recorded_at: Sat, 02 Mar 2024 21:46:19 GMT
recorded_with: VCR 6.2.0
