---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=<Youtube_channel_id>&key=<Youtube_api>&part=snippet&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "mpZHIz7qIcR1UuoTUd4IWBGBrWc",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 188,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "ysqMuJGjGQM-seM6F01HbHVdKVE",
              "id": {
                "kind": "youtube#video",
                "videoId": "PvefyIXfqek"
              },
              "snippet": {
                "publishedAt": "2021-12-13T21:16:26Z",
                "channelId": "<Youtube_channel_id>",
                "title": "A Super Quick History of the Maldives",
                "description": "Pictures Requiring Attribution: Gsnewid: https://commons.wikimedia.org/wiki/File:Coconut_Tree_in_Tamilnadu.jpg Indunil ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/PvefyIXfqek/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/PvefyIXfqek/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/PvefyIXfqek/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-12-13T21:16:26Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "GpQ7OJ1BOMCj7No2vcMv_ECuLMs",
              "id": {
                "kind": "youtube#video",
                "videoId": "hIMNiggFUxs"
              },
              "snippet": {
                "publishedAt": "2023-08-06T13:51:02Z",
                "channelId": "<Youtube_channel_id>",
                "title": "A Super Quick History of Singapore",
             [...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash>&page=1&per_page=10&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Version:
      - af6ba2d04b7c73ccb56ea9d6b4f4517b7c3bcb21
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["query is empty"]}'
  recorded_at: Wed, 24 Apr 2024 01:10:51 GMT
recorded_with: VCR 6.2.0
